<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
<navbar></navbar>
<h1>Scripts</h1>
<div id="scripts">
	<h2><%= message %></h2>

	<% code.forEach( code => { %>
	<div id="<%= code.id %>" class="script-row">
		<div class="work">
			<%= code.html %>
		</div>
		<div class="code-html">
			<pre><code><%= code.htmlCode %></code></pre>
		</div>
		<div class="code-css">
			<%= code.css %>
		</div>
		<div class="code-js">
			<%= code.js %>
		</div>
	</div>
		<% }) %>
</div>

</div>

</body>
</html>
